<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>员工主页</title>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">菠萝科技</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">工资结算</a></li>
            <li class="layui-nav-item"><a href="address">通讯录</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span th:text="${session.staffVo.bio.bName}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="get">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">考勤</a>
                    <dl class="layui-nav-child">
                        <dd><a href="clock_in">打卡</a></dd>
                        <dd><a href="javascript:;">绩效</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">工资</a>
                    <dl class="layui-nav-child">
                        <dd><a href="current">当月工资</a></dd>
                        <dd><a href="events">往期工资</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="getApply">申请</a></li>
                <li class="layui-nav-item"><a href="">其他</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend th:if="${prizes!=null}">该月奖惩信息</legend>
            <legend th:if="${prizes==null}">该月无奖惩信息</legend>
        </fieldset>

        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">奖惩时间</th>
                    <th scope="col">奖惩原因</th>
                    <th scope="col">奖惩金额</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${prizes!=null}" th:each="p:${prizes}">
                    <td th:text="${p.pTime}"></td>
                    <td th:text="${p.pCause}"></td>
                    <td th:text="${p.pSum}"></td>
                </tr>
                <tr th:if="${prizes==null}">
                    <td colspan="3">无</td>
                </tr>
                </tbody>
            </table>
        </div>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend th:if="${clockVos!=null}">该月打卡记录</legend>
            <legend th:if="${clockVos==null}">该月未打卡</legend>
        </fieldset>

        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">打卡日期</th>
                    <th scope="col">上班打卡</th>
                    <th scope="col">下班打卡</th>
                    <th scope="col">当天统计</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${clockVos!=null}" th:each="c:${clockVos}">
                    <td th:text="${c.cData}"></td>
                    <td th:text="${c.cOnduty}"></td>
                    <td th:text="${c.cOffduty}"></td>
                    <td th:text="${c.attendance.aType}"></td>
                </tr>
                <tr th:if="${clockVos==null}">
                    <td colspan="3">无</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>