<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrm.dao.AttendanceMapper" >
  <resultMap id="BaseResultMap" type="com.hrm.model.Attendance" >
    <id column="A_ID" property="aId" jdbcType="DECIMAL" />
    <result column="A_TYPE" property="aType" jdbcType="VARCHAR" />
    <result column="A_SUM" property="aSum" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    A_ID, A_TYPE, A_SUM
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hrm.model.AttendanceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_ATTENDANCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_ATTENDANCE
    where A_ID = #{aId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_ATTENDANCE
    where A_ID = #{aId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.hrm.model.AttendanceExample" >
    delete from T_ATTENDANCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hrm.model.Attendance" >
    insert into T_ATTENDANCE (A_ID, A_TYPE, A_SUM
      )
    values (#{aId,jdbcType=DECIMAL}, #{aType,jdbcType=VARCHAR}, #{aSum,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hrm.model.Attendance" >
    insert into T_ATTENDANCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        A_ID,
      </if>
      <if test="aType != null" >
        A_TYPE,
      </if>
      <if test="aSum != null" >
        A_SUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        #{aId,jdbcType=DECIMAL},
      </if>
      <if test="aType != null" >
        #{aType,jdbcType=VARCHAR},
      </if>
      <if test="aSum != null" >
        #{aSum,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hrm.model.AttendanceExample" resultType="java.lang.Integer" >
    select count(*) from T_ATTENDANCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_ATTENDANCE
    <set >
      <if test="record.aId != null" >
        A_ID = #{record.aId,jdbcType=DECIMAL},
      </if>
      <if test="record.aType != null" >
        A_TYPE = #{record.aType,jdbcType=VARCHAR},
      </if>
      <if test="record.aSum != null" >
        A_SUM = #{record.aSum,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_ATTENDANCE
    set A_ID = #{record.aId,jdbcType=DECIMAL},
      A_TYPE = #{record.aType,jdbcType=VARCHAR},
      A_SUM = #{record.aSum,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hrm.model.Attendance" >
    update T_ATTENDANCE
    <set >
      <if test="aType != null" >
        A_TYPE = #{aType,jdbcType=VARCHAR},
      </if>
      <if test="aSum != null" >
        A_SUM = #{aSum,jdbcType=DECIMAL},
      </if>
    </set>
    where A_ID = #{aId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hrm.model.Attendance" >
    update T_ATTENDANCE
    set A_TYPE = #{aType,jdbcType=VARCHAR},
      A_SUM = #{aSum,jdbcType=DECIMAL}
    where A_ID = #{aId,jdbcType=DECIMAL}
  </update>
</mapper>