<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrm.dao.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.hrm.model.Department" >
    <id column="D_ID" property="dId" jdbcType="DECIMAL" />
    <result column="D_NAME" property="dName" jdbcType="VARCHAR" />
    <result column="D_CREATION" property="dCreation" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    D_ID, D_NAME, D_CREATION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hrm.model.DepartmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_DEPARTMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_DEPARTMENT
    where D_ID = #{dId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_DEPARTMENT
    where D_ID = #{dId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.hrm.model.DepartmentExample" >
    delete from T_DEPARTMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hrm.model.Department" >
    insert into T_DEPARTMENT (D_ID, D_NAME, D_CREATION
      )
    values (#{dId,jdbcType=DECIMAL}, #{dName,jdbcType=VARCHAR}, #{dCreation,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hrm.model.Department" >
    insert into T_DEPARTMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dId != null" >
        D_ID,
      </if>
      <if test="dName != null" >
        D_NAME,
      </if>
      <if test="dCreation != null" >
        D_CREATION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dId != null" >
        #{dId,jdbcType=DECIMAL},
      </if>
      <if test="dName != null" >
        #{dName,jdbcType=VARCHAR},
      </if>
      <if test="dCreation != null" >
        #{dCreation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hrm.model.DepartmentExample" resultType="java.lang.Integer" >
    select count(*) from T_DEPARTMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_DEPARTMENT
    <set >
      <if test="record.dId != null" >
        D_ID = #{record.dId,jdbcType=DECIMAL},
      </if>
      <if test="record.dName != null" >
        D_NAME = #{record.dName,jdbcType=VARCHAR},
      </if>
      <if test="record.dCreation != null" >
        D_CREATION = #{record.dCreation,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_DEPARTMENT
    set D_ID = #{record.dId,jdbcType=DECIMAL},
      D_NAME = #{record.dName,jdbcType=VARCHAR},
      D_CREATION = #{record.dCreation,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hrm.model.Department" >
    update T_DEPARTMENT
    <set >
      <if test="dName != null" >
        D_NAME = #{dName,jdbcType=VARCHAR},
      </if>
      <if test="dCreation != null" >
        D_CREATION = #{dCreation,jdbcType=VARCHAR},
      </if>
    </set>
    where D_ID = #{dId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hrm.model.Department" >
    update T_DEPARTMENT
    set D_NAME = #{dName,jdbcType=VARCHAR},
      D_CREATION = #{dCreation,jdbcType=VARCHAR}
    where D_ID = #{dId,jdbcType=DECIMAL}
  </update>
</mapper>